  <!-- Heading Title -->
<div class='panel panel primary'>
    <div class="panel heading">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="panel-body">
            <div class="row">
                    <div class="col-md-2">Filter by:</div>
                    <br> 
                    
    <!-- product List -->
    <div  class="panel-body">
        <div class="col-md-5">
      <div *ngFor="let g of products | filter : searchText" class="col-md-4"> 
          {{g.category}}
        <input (change)="getSelected()" type="checkbox"        
                 [(ngModel)]="g.selected"/>      
      </div>
    </div>    
  </div>     
            </div>
    <!-- Selected products outputed on table-->
    <div class="table-responsive">
        <table class="table"  > 
      <thead>
            <tr>             
                <button class="btn btn-primary" (click)='toggleImage()'>
                  {{showImage ? 'Hide':'Show'}} Image
                </button>           
              <th>Product</th>
              <th>Code</th>             
              <th>Available</th>
              <!-- <th>Description</th> -->
              <th>Catigory</th>
              <th>Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
                      <tbody *ngFor="let s of selected_products">
                        <td>
                          <img *ngIf='showImage'
                          [src]='s.imageUrl'
                          [title]='s.bikeName'
                          [style.width.px]='imageWidth'
                          [style.margin.px]='imageMargin'>
                        </td>
                            <td>{{s.bikeName}}</td>
                            <td>{{s.bikeCode}}</td>
                            <td>{{s.releaseDate}}</td>
                            <td>{{s.category}}</td>
                            <td>{{s.price | currency:'EUR':'symbol':'1.2-2'}}</td>
                            <td><app-star-rating [rating]='s.starRating'>{{s.starRating}}</app-star-rating></td>                           
                          </tbody>          
        </table>
    </div>
   </div> 
  </div>